.row
  .seller-article-content
    .col-md-2
      =render "owners/nav"
    .col-md-6
      %h3 在美国怎样护理草坪
      =image_tag "articles/lawn.jpg", :class => "buyer-article-image"
      %p
        想拥有健康环保的如茵绿地，首先要设法将草坪变密和变厚，使杂草没有发芽的空间。
      %p
        第一，找到合适的草籽，不少人买草籽回家，没看产地，比如，加州和佛州的草在我们这里就可能水土不服，难以保养，而且有人贪快，种下去一个星期就想要见绿油油的草长出来，以我的经验，这样的草反而不长寿。另外买草籽要看包装上注明是适合遮荫地带还是全阳地带，也要根据住家气候的特点，可选择耐寒，耐旱性不同的，颜色，草叶的粗细也有不同，我个人来说喜欢种比较强壮叶片粗大一点就会少花很多心思，也不用花那样多的金钱和时间。
      %p
        第二，种植时间，初春，和秋天，最好是在秋天，在我们这些地方比较好。温度不高，雨水丰富，生长起来比较容易，而且节能。不少人建议九月份种草，草并不是很怕冷，特别怕酷暑，这样嫩草不经过酷暑，经过秋冬春，会比较健壮，很容易熬过炎热的夏天。每年春秋的时候在草坪比较稀疏的地方松土再撒上草籽。另外，播种前要先清理地面的杂草和碎石，用耙子松土，找平。最好是选择在雨后，土壤比较湿润，当然不是说下完雨立马三刻播种，要等到地面将水分吸饱，表面稍微干一点，不要一脚下去一个窝就好。
      %p
        第三，用腐植土（compost）代替化学肥料给草坪大底。 我家老公告诉我一个爱尔兰土方，在土上种一年的莲花白，莲花白会给土壤增加肥料，等把莲花白收成后再种草，草会长的郁郁葱葱。这个腐植土可以增加土壤7% 的有机成分，提高土壤的保水性，从而减少人工浇灌。施肥，我们都是用有机肥，最好是长效有机肥，（slow release fertilizer） , 这样的有机肥的溶解度低， 养分释放缓慢，肥效持久， 而且不易出现干草层。一般在当地的nursery 里都买得到，贵一点就是了，一年也施不了几次，一般来说是在中春和初秋两次就可以了。我个人的经验是，如果草坪的土质不够好，可以多施几次。如果草的颜色偏嫩黄，一般来说就是缺乏养分，就可以考虑施肥了。
      %p
        有人说，非有机肥效果要好一些，草会更绿更壮。我就试着把同一块草地分成两个部分，作过有机肥和非有机肥的效果对比， 结果，我看不出来有什么不同。既然如此，自然是该用有机肥，这样子，既环保，又免除了不适合小孩子和猫狗在上面玩耍的忧患。如果草坪不大的话，很便宜，也很环保，可以在home depot 手推的买施肥车， 几十元，这样肥料会施得比较均衡。如果施肥太多，会烧了健康的草坪，也会出现干草层，如果干草层很厚超过半寸，就会影响水分和养分深入土壤和根部。这样就要先用耙子把干草刮松，然后加一层腐植土，促进微生物蚯蚓的繁殖
      %p
        第四，浇水。一般刚种下去的基本上要天天浇，两到三个星期的样子，保证草根下面一两寸深处浇湿了就可以。这个时间过了以后，一个星期浇1-2次水就可以了，浇得太频繁，草根会长得很浅，反而命薄， 一般来说一个星期浇一寸的水就够了。如果遇到老天下雨，这个都可以免掉。浇水时间最好是在清晨，这样可以防止草坪滋生微菌疾病，也可以避免日晒导致水分的迅速蒸发。 可以到home depot 买哪种塑料的sprinkler, 根据你的地形，买你需要的大小和种类，然后放在你的草坪的中间或者边上，自己调整一下设定，当然要连上水管子。 一般分为两种，一种是节能的，水线很分散， 比较小，时间比较长。另外一种就不算节能，半个小时就浇完了。你早上起来，冲到门外，打开开关，等你吃完饭收拾好，出门的时候一关就行了，当然也可以买一个定时器简化问题。如果嫌麻烦，最好是铺设灌溉系统，当然花银子一些，不过，对于气候炎热和干燥的地区还是很有必要的。
      %p
        第五，割草，每次割草时，要把割草机设置在至少三英寸的高度，而且保持刀板锋利，不然的话，会把草的上端割成锯齿状，会使草迅速脱水，也容易感染病害。一般来说，如果草的长度被割掉三分之一，草坪就容易严重受损，因此，割草要尽可能勤快，因为草的敏感生长点都在尖端，每次割草也会切割在杂草的生长点，使它停止滋生。 把割下来的碎草留在草坪上，选择割草机的时候，最好是选择割草和捣碎两用的机器，可以把碎草留在草坪上， 这些碎草最后就会变成有机肥和氮肥。另外这些碎草可以减少干草层。
      %p
        第六，除杂草，关键是看你本地的杂草是什么。我们这里本地草包括蒲公英，那个很讨厌，如果不除的话，就把草坪给你能全占完了。在店里可以买到玉米蛋白粉，（corn –gluten meal）, 如果及时在早春播洒，能够抑制蒲公英的种子发芽。还有一种杂草，车前草，通常生长在土质过硬的地方，这些地方好草长不好，车前草却最喜欢这个土壤。车前草的生长其实是一个信号，土太硬，太贫乏。办法是连根拔掉， 在稀疏的地方洒上草籽，再加腐植土，使土壤变松，就可以防止这种杂草。 如果草割得太短，就会出现螃蟹草，这种草很喜欢太阳，又干又热最适合。除掉他们之后，草坪可能会出现坑洞，要用土先填平，撒草籽，然后再撒腐植土。我一般是在初春的时候就开始在草坪里找这些杂草，连根去掉。每周地毯式搜查一次，基本上问题不大。杂草的特点是，越热越干草地越是营养不良他们就特别活跃，势头就容易强过种植草，所以，保证你草地的营养，在特别干热的天气经常浇点水，勤快一点，问题就不大。如果草坪不大，坐在草坪上，一把小铲子，玩着就弄完了，尤其好天气的时候，是很爽的也算是健身运动了
      %p
        （文章来源：http://wikihuaren.blogspot.com/2009/07/blog-post_21.html)
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    