.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 卖房代理
      =image_tag "articles/seller_agent.jpg", :class => "buyer-article-image"
      %h4 我需要一个代理吗？
      %p
        卖房时房产代理并不是必须的，但是根据美国全国房地产经纪人协会的统计，曾经不用代理自行售屋的人之中，有接近三分之二的人不想再这样做，主要原因包括设定售价、市场障碍、责任及时间问题等。
      %p
        房地产代理既可以为买方服务，也可以为卖方服务，有的州里他们还可以同时兼任买卖双方的代理人。代理要经过学习培训，通过考试取得所在州的执业执照。在两个或多个州接壤的地区，他们通常拥有相邻几个州的代理执照。
      %h4 代理的佣金
      %p
        房地产代理要收取佣金。老规矩是成交价格的6%，由卖方承担，买卖双方的代理人各拿3%。从1970年代开始，美国房产价格上涨的总趋势高于通膨指数，使得这个行业的佣金下调了许多。目前有许多代理在吸引卖方生意的时候，往往打出只收5%甚至更低总佣金的旗号。
      %p
        与代理人所属的经纪公司要先签一个合约，规定在一段时间内，一般是3个月，中间不得更换经纪公司。代理人会把委托人房产所在地区的市场情况做一个全面调查，实地查看要出售的房产，向卖主提出整修或室内设备升级的建议，并且给出一个参考价格，由卖主最后决定上市价。
      %p
        当你决定要找房地产经纪人代理售屋时最好多找几家比价，对于报价过低或过高的都要谨慎。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    