.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 竞争市场分析
      %h4（Comparable Market Analysis，CMA）
      %p
        Comparable Market Analysis简称CMA，是房地产市场一种公认权威的房屋评估分析报告。无论您是想要了解市场行情还是即将出手所持有物业，您都可以通过CMA来准确定位所持有物业的市场价格，分析当地房产市场的整体走势，为您卖房提供数据上的有力判断。
      %p
        地产代理会提供免费的CMA房屋评估报告。详细的CMA房屋评估报告包括以下六大部分：
      %ul
        %li 同地区同类型同价位房屋过去六个月到一年整体走势和销售情况
        %li 同地区同类型同价位房屋现挂牌的价格和调整及房屋优缺点
        %li 同地区同类型同价位房屋已售出的价格和调整及房屋优缺点
        %li 同地区同类型同价位房屋未售出的价格和调整及未售出原因
        %li 您所持有物业的市场价位区间及房屋优缺点
        %li 卖房时专业定价策略的分析及成功卖房技巧
      =image_tag "articles/cma.png", :class => "buyer-article-image"
      %p
        当然仅仅根据一份CMA报告还是不够的，最终定价还是要代理人到现场勘察并和业主详细讨论后才能确定下来。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    