.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 如何评估房产价值
      %p
        在您决定出售一套房子之后，首先需要做的就是客观的评估这套房子的价格。决定房价的因素有很多，例如房子的户型、装修、年代，院子的大小，房子所处的街道或者小区环境，附近学校的质量，交通是否便利，房地产市场的行情以及售房时间的季节因素等等。这其中有些因素是相对固定，也比较好量化的，例如房子本身的情况和所在地区的平均房价。卖主可以通过比较附近最近售出的房子来估算自己的房子的价格。
      %p
        您可以通过查询地产网站来获得一些参考信息。例如zillow.com就根据房产附近的成交房价和房产的公开数据计算出一个估算值zestimate。虽然很多人发现zestimate并不是对所有的房产都很准确，但是它至少是目前一个公认的参考指数。Redfin.com和trulia.com也都提供近期成交价格，所以您可以锁定一个地区，然后制定一个时间区间，例如最近6个月或1年来查看成交记录。
      = image_tag "articles/zestimate.png", :class => "buyer-article-image"
      %p
        另外一个可供参考的数据就是政府给出的评估价。通常每个城镇的政府都会有一个评估部门，定期估算房产的价值，从而决定收房产税的金额。在他们的数据库里有辖区内所有房子的详细资料以及维修记录。这些信息都是公开的，可以在政府的官方网站上查到。不过请注意，评估价一般会比实际市场价格变化有所延迟，有时可能延迟半年甚至一年。
      %p
        在您对要出售的房产心里有数之后，就可以决定是否要找房产代理来帮您操作售房了。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    