.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 宣传推广
      = image_tag "articles/forsale.jpg", :class => "buyer-article-image"
      %p
        在如今的网络时代，让潜在的买方获知您的待售房产已经是非常容易的一件事。您可以通过代理或者自己将房产信息公布在网上，例如MLS，redfin.com, zillow.com, trulia.com等。同时在自己的房产门前放置出售的宣传牌。您的代理会将房产的信息准确并且专业的发布出去，同时也会选择合适的时机保证信息全方位的传递给潜在的买家。在信息公布之后，您可以自己上网查看是否准确、完备。有时缺失的信息可能打消潜在买方来看房的意愿。
      %p
        如果您是自己出售而不是通过代理出售房产，除了在各大地产网站公布信息之外，您还可以通过一些电子邮件营销的方式将信息推送出去。例如直接发给公司同事的邮件列表、房产所在的城镇的社区邮件列表等。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    