.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 如何选择offer
      = image_tag "articles/offers.jpg", :class => "buyer-article-image"
      %p
        在不同的地区不同的市场可能出现不同数量的offer(买方的购买意向)。有的时候可能一个offer都没有，有时可能只有一个，也有可能出现多个买方竞争的情况。针对不同数量的offer，卖主需要采取的应对策略会有所不同。
      %p
        当您所处的市场很火的时候，很可能出现多个买方有意向购买您的房产。极端的时候可能会多达几十个offer，以至于您的代理会规定截至时间从而可以统一筛选。一下是6项卖主在面对多个offer时需要考虑的问题：
      %h4 价格：这个offer是否能给您最多净收益？
      %p
        对于很多人来说价格是最重要的因素，毕竟大家卖房的目的就是最大化收益。不过聪明的卖家不会只看价格。类似价格的offer可能意味着最终有明显差别的净收益，因为offer里面还包含很多买方的附加条件。
      %p
        所以在选择offer的时候，请务必计算所有offer的最终净收益。尤其是在对类似的offer进行比较的时候您需要减去条款可能带来的开销。例如买方可能要求卖方负责部分的交易费用、房检费用以及相关的税款。另外您可能需要支付维修房屋的开销。您的代理会告诉您在附近地区哪些条款是普遍现象，哪些是特殊的要求。
      %h4 资格：买方是否有足够的资金？
      %p
        当地产代理说买方的资格时，他们一般是指买方能否准备好资金。卖房本来就是一个长期的过程，如果有接受的买方资金出现问题的话就会导致过程更漫长。所以您最好一次就选对能提供足够资金的买方。
      %p
        选择全款买房的买家可以避免资金上出现问题。但是大多数买家还是需要贷款的，而且大多数人都能顺利的通过贷款审查。您可以通过问以下问题来了解买家的情况：
      %p 全款购房者
      %ul
        %li 买方的资金是否已经到位？
        %p
          和全款购房者交易的关键是保证买方的资金已经到位，随时可以转账给您。一般来说银行的对账单可以用来证明资金是否到位，如果有银行提供的存款证明就更安全了。
      %p 贷款买房人
      %ul
        %li 买方是否已经通过了贷款预审？
        %p
          一个已经通过了预审的买方有更大的概率会得到贷款，只要这期间没有发生大的变化。虽然预审不能保证什么，但是您可以看出买方最多可以贷到多少。然后您就可以和offer上的价格相对比，看买家是否能支付报价。
        %li 买方的首付比例如何？
        %p
          有些贷款机构对首付比例有比较严格的要求。您最好保证买方有足够的首付从而能顺利通过贷款申请。
      %h4 购买意向：买方愿意出多少定金？
      %p
        一般来说买方在提出offer的时候会支付一定量的定金来证明有购买的意向。根据购买合同的条款，在某些情况下如果买方反悔的话卖方可以不退定金。标准的定金是按照房价的比例（例如3％）计算的，但是不同地区也可能有不同算法。
      %p
        请咨询您的代理在您所在地区标准的定金比例。有时数额偏小的定金可能意味着买方还在考虑其他的房子。
      %p
      %h4 应急条款：能顺利成交的机会有多大？
      %p
        很多买方的offer都会有一些应急条款。这些条款是保证最终成交的前提条件。例如条款可以要求您的房产必须在一定时间内维修到房检要求的标准。在合同中的每一个条款都可能增加无法成交的风险。
      %p
        请和您的代理一起研究每一个条款带来的可能的风险、对时间和收益的影响。一个不常见的条款可能让您无法接受。总的来说越少条款越好。
      %h4 时间：最终交接的时间是否合适？
      %p
        每个购买意向都会给出交接的日期。在交接时卖方要完全搬出房屋，并把钥匙交给新房主。这也是您收到房款的时候。所以您也要看哪一个买方的时间最合适。
      %p
        有的卖方可能想尽快完成交易，也有的需要一段时间来搬出房屋或者等租房人搬出。有的房主可能会让租房人在交接之后继续住下去，这样新房主再和租房人续租约。这些都是因人而异的。如果您有比较确定的交接日期的需求，一定要和代理沟通好。一般买方代理会询问是否有交接日期的要求，这样在提交意向的时候就会考虑何时交接。
      %h4 买主：谁会搬进您曾经的家？
      %p
        对于有些卖方来说，新房主是什么样的人一样重要。有的人卖的是自己曾经住了很久的家，因此希望新房主能爱惜自己的房子，也希望新房主和社区的邻居可以和睦相处。
      %p
        一般来说卖方是不和潜在的买方直接见面的。不过很多买方都会写一封信给卖方。这样您就可以通过信的描述来了解买房人。如果其他条件都差不多的话，选一个您认为能适合这个社区的人也是一件有意义的事。
      %p （文章摘自 http://www.ziprealty.com/blog/how-select-multiple-offers-house）
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    