.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 卖房前的准备工作
      =image_tag "articles/prepare.jpg", :class => "buyer-article-image"
      %p 
        在您了解了大概的市场行情后，就可以将房产整理好准备给买家看了。 在准备的时候，卖主应该把房子布置的去个人化。试想如果你墙上挂满了家人的照片、奖状、奖品，或是你家人特殊爱好的收藏品等，这些强烈标求你家特徵的物品，会让买主减弱他们对拥有这个家的幻想，建议你要暂时收掉这些物品，把房子布置的中性化，让买主能发挥想象力。 
      %h4 卖屋前移除一切杂乱物品，创造空间
      %p
        卖主在此屋住了长时期，很多的杂乱物品，对他们而言是生活上息息相关的一部分，很难割舍，但是在卖屋时，必须痛下决心彻底清除。一般来说从四个大项著手﹕(1)厨房﹔(2)衣服间﹔(3)家俱﹔(4)储藏室。
      %p 
        (1)厨房--把台面上东西全部收掉，把抽屉里的东西也要清理，大多的东西都收起来，除非是绝对立刻要用的东西。许多买主喜欢看厨房的抽屉或橱子，他们要看是否有足够的空间可容纳他们的器物。
      %p
        (2)衣间--通常很容易堆积杂物，或者太多暂穿不上的衣物，把衣间摆的清爽些，会让衣间显得足够大。
      %p
        (3)家俱--多余或用不上的家具占据很大的空间，如果客厅里就祗剩一套沙发，一个茶几，你可能惊觉它的迷人处，留著大大的空间，让你的买主骋驰他们的想象力。
      %p
        (4)储藏室--任何地下室、阁楼、库房、车库最容易堆放杂物，甚至废物，想想看，如果你卖了屋然后搬了新家，保留你还要带过去的东西，其他一切就先丢弃吧﹗
      %h4 卖屋前的检修清单
      %p 
        A. 室外部分：
      %p 保持新近油漆 
      %p 保持草坪翠绿 
      %p 修剪整齐草地 
      %p 清理排水沟槽 
      %p 确定室外灯能亮 
      %p 除去屋顶苔蘚 
      %p 补换缺失的屋瓦
      %p 1. 前门 

      %p 保持新漆 
      %p 门铃能响 
      %p 门把擦亮 
      %p 铰链上油
      %p 2. 窗户 

      %p 整理并油漆 
      %p 要能开关容易 
      %p 更换破窗玻璃 
      %p 用水等清洗

      %p 3. 汽车进出道 

      %p 坑洞铺缀 
      %p 重铺新地面

      %p 4. 天井 

      %p 木质上漆或油漆 
      %p 篱架须牢固

      %p 5. 花园及树木 

      %p 剪除枯枝、清理落叶 
      %p 更换枯萎灌木 
      %p 树木修剪有型 
      %p 增补盆花 
      %p 适当美化庭景

      %p B. 室内部份：

      %p 保持新近油漆 
      %p 保持新近地板或地毯 
      %p 保持整洁明亮 
      %p 保持空气流通、清新 
      %p 收藏多余的家具或用具 
      %p 保持每个灯及开关都能工作

      %p 1. 厨房 

      %p 水龙头等水路系统畅通,不要漏水 
      %p 保持各项电器的功能完好 
      %p 水槽、墙壁、橱柜等保持清洁无污 
      %p 梳理台保持非常清洁 
      %p 去除霉味或特殊气味
      %p 地板清洁 
      %p 炉头处清理干净 
      %p 储藏室安排整洁,不要超量

      %p 2.客厅及家庭间﹕

      %p 修补天花板或墙上裂缝 
      %p 修补漏水并掩饰水渍 
      %p 木质品重漆 
      %p 壁纸须牢固在墙面 
      %p 窗帘、百页窗等清理好 
      %p 窗帘等均应打开 
      %p 保持地面清洁 
      %p 整齐家俱留出较大空间 
      %p 窗户开启自如

      %p 3.饭厅 

      %p 修补天花板或墙上裂缝 
      %p 修补漏水并掩饰水渍 
      %p 木品重漆 
      %p 窗户清洗 
      %p 地板清理打腊，或地毯清洁

      %p 4.睡房 

      %p 修补天花板或墙上裂缝 
      %p 修补漏水并掩饰水渍 
      %p 清洗窗户、窗台、窗帘等 
      %p 地板清洁，不要放置杂物 
      %p 床面铺平换新或干净床单

      %p 5.浴室﹕

      %p 清洁水槽及台面，台面不要放物品 
      %p 滴漏的水龙头要先修好 
      %p 换新冲水遮帘 
      %p 换新或干净浴巾 
      %p 清洁地板 
      %p 清洁镜面 
      %p 修补脱落或破损的瓷砖

      %p 6.入口 

      %p 进门灯要能亮 
      %p 地面要清洁 
      %p 置衣间整洁 
      %p 置衣间的灯要能亮
      %p （文章来源：Grace熊，http://blog.sina.com.cn/u/2192988593）
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    