.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 确定房价
      = image_tag "articles/pricing.jpg", :class => "buyer-article-image"
      %p 
        经过上述的准备工作（估价、选代理、出具CMA报告）之后，下一步就是卖房过程中最为重要的定价了。定价过高的房产可能在市场上几个月都卖不出去，定价过低的房子可能让房主损失利益。不过在有经验的代理的帮助下，看似复杂的定价过程也可以变的很轻松。
      %p
        总的来说，定价策略分为三种：高于市场价格、等于市场价格和低于市场价格。一般情况下不建议高于市场价格定价，因为大部分这样的房子卖不出去，至少在减价一次之前卖不出去。对于有些情况来说，先标高价然后再减价也是一种策略，因为减价可以让买方感觉他们赚到了。不过，减价也可能使得买方想更多的砍价。
      %p
        如果您的房产定价在和附近相似房产售价相同的区间内，您的房产看起来条件又不错的话，买方可能会立刻决定购买。如果真的有买方在房子一上市就要买的话，并不代表房产的定价过低了，相反这通常意味着这个买方很有诚意要买，并且您的定价刚好合适。
      %p
        如果您急于出手的话可以把价格定的低于市场行情，从而加速成交。无论哪种情况，都要考虑到您的销售预期和周边市场行情。
      %p (文章来源：http://www.ziprealty.com/learning-center/how-to-price-home.jsp?src=selling-body)
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    