.row
  .seller-article-content
    .col-md-2
      =render "sellers/nav"
    .col-md-6
      %h3 确定房价
      = image_tag "articles/sold.jpg", :class => "buyer-article-image"
      %p 
        如果您有房产代理的话，接受买方的购买合同之后，剩下的事就是由代理负责协调的交接工作了。一般来说买方会做房检，然后会根据房检报告要求维修或者将维修费用折现。然后等买方资金到位后安排过户。这一过程都应该在代理的帮助下完成，最后过户签约一般在律师事务所进行。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    