.container.admin-articles
  .row
    .col-md-8
      %form{action: new_admin_article_path, method: :get}
        %button{type: "submit", class: "btn btn-warning"} 发表文章
  - if @articles
    - @articles.each do |article|
      .row
        .col-md-8
          = article.title
        .col-md-2
          %a{href: edit_admin_article_path(article.id)} 编辑
