.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          %a{href: "#"} 搜索房产
        %li
          %a{href: "#"} 最近新房
        %li
          %a{href: "#"} 业主售房
      %ul.nav.navbar-nav.navbar-right
        %form.navbar-form.navbar-right
          .form-group
            %input{type: "text", placeholder: "邮箱", class: "form-control"}
            %button{type: "submit", class: "btn btn-primary"} 新手上路
            %button{type: "submit", class: "btn btn-primary"} 登陆
.jumbotron
  .logo-img
    =image_tag "logo.png"