.container
  .row.campaign
    .col-md-6
      .panel.panel-default
        .panel-heading 新房讨论
        .panel-body 
          本月新房
    .col-md-6
      .panel.panel-default
        .panel-heading 上个月成交记录
        .panel-body 
          第一名：200 Washington St
  %hr
  %footer
    %p @ 美房美地 2014