%hr
.buyer-nav-tree-folder
  .buyer-icon
    =image_tag "articles/openhouse.jpg", :class => "buyer-article-icon"
  .buyer-title
    %h4 买房专栏
%hr
%p
  %a{"href" => "/buyers/decision"}
    买房还是租房？
%p
  %a{href: "/buyers/agents"}
    如何选择代理？
%p
  %a{href: '/buyers/mortgage'}
    贷款需要做的准备
%p
  %a{href: '/buyers/search'}
    上网搜房！
%p
  %a{href: '/buyers/openhouse'}
    实地看房
%p
  %a{href: '/buyers/offer'}
    下Offer的过程
%p
  %a{href: '/buyers/inspection'}
    房检注意事项
%p
  %a{href: '/buyers/move'}
    搬家手册
%hr
.buyer-nav-tree-folder
  .buyer-icon
    =image_tag "articles/mortgage.png", :class => "buyer-article-icon"
  .buyer-title
    %h4 贷款专栏
%hr
%p
  %a{href: '#'}
    Preapproval
%p
  %a{href: '#'}
    贷款计算器
%p
  %a{href: '#'}
    贷款流程
%p
  %a{href: '#'}
    贷款术语解释
%hr
.buyer-nav-tree-folder
  .buyer-icon
    =image_tag "articles/forsale.jpg", :class => "buyer-article-icon"
  .buyer-title
    %h4 卖房专栏
%hr
%p
  %a
    如何评估售价
%p
  %a
    竞争市场分析
%p
  %a
    装扮房屋
%p
  %a
    如何定价
%p
  %a
    宣传推广
%p
  %a
    还价
%hr