.row
  .buyer-article-content
    .col-md-2
      =render "buyers/nav"
    .col-md-6
      %h3 如何选择买房代理
      =image_tag "articles/buyer_agent.jpg", :class => "buyer-article-image"
      %h4 我需要一个买房代理吗？
      %p
        从法律上来说在麻萨诸塞州买房子并不一定要通过代理人，但是实际上买方代理人是在美国买房过程中非常重要的。
      %p
        首先，买方不需要直接给代理人支付任何费用。买方代理的佣金是由卖方代理（Listing Agent）支付的，而卖方代理的佣金是卖方支付的。如果没有买方代理，卖方代理就变成了双方代理，并不会对买房人有直接好处。而一个好的代理人可以站在买房人的角度上为买房人最大限度的保障利益，买房人没有必要事必躬亲全程操作。
        
      %h4 买方代理的服务范围
      %p
        在美国买房和在中国大陆买房有很多不同，所以代理人的工作也比中国大陆的房地产中介复杂得多。中国的中介更多的是双方代理，一般会倾向于维护卖方利益，促成交易从而赚取佣金。下表是中美房地产代理的工作对比。
      %table.table.table-striped
        %thead
          %tr
            %th 职责范围
            %th 美国的买方代理
            %th 中国大陆的房产中介
        %tbody
          %tr
            %td 寻找房源
            %td 否（大部分房源信息是公开的）
            %td 是
          %tr
            %td 现场看房
            %td 是（为买方负责）
            %td 是（仅限于介绍房源）
          %tr
            %td 出Offer
            %td 是（为买方省钱）
            %td 是（买方自己定价）
          %tr
            %td 和卖方代理协商签约
            %td 是
            %td 不适用
          %tr
            %td 办理房检、贷款、过户等
            %td 负责组织协调
            %td 负责组织协调
      %p
        其中出Offer，和卖方代理协商签约是非常需要经验和商业技巧的部分。尤其是在比较热门的地区或者热门的时间段，往往有多个买方竞争同一套房。一个好的代理需要帮助买方寻找合适的出价，既不能太高也不能太低。很多时候出价最高的也未必能被卖方接受。
      %p
        在办理房检、贷款和过户过程中，买方代理虽然不会自己操作，但是可以监督整个过程，保证在这个复杂的过程买方的利益。近几天在中国出现不少买房人买完房子才发现产权有问题，只能通过法律途径尝试追回房款。如果有买方代理的话就可以避免这种情况。
      %h4 选择标准
      %p
        对于不同的买房人来说，选择代理的标准有所不同。对于首次买房的人，一个有经验的代理是你能在自己的预期时间内、预算范围内买到合适房子的重要保证。而判断一个代理是否有经验可以通过他（她）的历史记录（
        %a{href:"http://madizhu.com/realtorindex.php", target: "_blank"} 
          麻地主网站
        ，
        %a{href:"http://www.realtor.com/realestateagents/", target: "_blank"} 
          realtor.com
        ）和曾经代理过的人的评论得出。而对于有多次买房经历的人来说，代理人能够为你提供的时间和精力就更为重要。如果代理人太忙，就可能在看房和出offer的时候无法为你提供及时的服务，从而错过好的机会。
      %p
        虽然大多数全职房产代理都可以负责很大一片区域内的各种房型，但是一般人都有他（她）所熟悉的城镇和擅长的房型。如果你想买一个位于Quincy的房子，那么一个住在Lexington的代理可能就不太合适，因为每次去看房都要花很长时间。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    