.container.buyer-article-content
  .row
    .col-md-2
      %hr
      .buyer-nav-tree-folder
        .buyer-icon
          =image_tag "articles/openhouse.jpg", :class => "buyer-article-icon"
        .buyer-title
          %h4 买房专栏
      %hr
      %p
        %a{href: '#'}
          买房还是租房？
      %p
        %a{href: '#'}
          如何选择代理？
      %p
        %a{href: '#'}
          贷款需要做的准备
      %p
        %a{href: '#'}
          上网搜房！
      %p
        %a{href: '#'}
          实地看房
      %p
        %a{href: '#'}
          下Offer的过程
      %p
        %a{href: '#'}
          房检注意事项
      %p
        %a{href: '#'}
          搬家手册
      %hr
      .buyer-nav-tree-folder
        .buyer-icon
          =image_tag "articles/mortgage.png", :class => "buyer-article-icon"
        .buyer-title
          %h4 贷款专栏
      %hr
      %p
        %a{href: '#'}
          Preapproval
      %p
        %a{href: '#'}
          贷款计算器
      %p
        %a{href: '#'}
          贷款流程
      %p
        %a{href: '#'}
          贷款术语解释
      %hr
      .buyer-nav-tree-folder
        .buyer-icon
          =image_tag "articles/forsale.jpg", :class => "buyer-article-icon"
        .buyer-title
          %h4 卖房专栏
      %hr
      %p
        %a
          如何评估售价
      %p
        %a
          竞争市场分析
      %p
        %a
          装扮房屋
      %p
        %a
          如何定价
      %p
        %a
          宣传推广
      %p
        %a
          还价
      %hr
    .col-md-6
      %h3 买房还是租房？
      =image_tag "articles/buyvsrent.jpg", :class => "buyer-article-image"
      %p
        如今，移民美国的人越来越多，不管走到哪里，房子都是急需解决的事情之一，也是很多新移民最难以决断的问题。买房？目前美国房价不断上涨，买房有可能影响今後的生活质量。租房？感受不到家的存在，没有安全感。那麽，买房好还是租房好？
      %p
        这涉及到多种因素，包括房价、租金、房屋维持费用、购房的首付比例和贷款利率、资本投资回报率以及通货膨胀率等，其中最基本的是房价和租金，也就是通常所说的售租比（房屋售价与年租金之比）。一般认为售租比低於10是买房的大好时机，10到20之间则要根据地区和本人财务状况作出选择，而售租比大於20，则应该考虑租房居住。

      %p
        当供养一栋房产的净花费比租房的净花费低，那麽支持买房的论点就占了绝对上风，比如在芝加哥、达拉斯、圣路易斯以及美国中部的大部分地区。

      %p
        美国东北大部分地区、佛罗里达州、加利福尼亚州等地，买房比租房要贵（税收优惠也被计入）。只有当现已十分昂贵的房价再有极大幅度的增长时，房主才可能处於有利地位。

      %h4 买房理由

      %p 许多美国人将买房视为成功人生必不可少的一步，而且拥有房产也可带来大量经济利益。

      %p 最明显的好处是房产可大幅升值。NAR的数据显示，1993年至2013年期间，美国现有独栋住宅的售价中值上升了81%。

      %p 正如最近的情况一样，当房价迅猛上涨时，拥有房产的潜在回报也在购房者的心中突出显现出来。

      %p 许多房主还能在还款期间以按揭贷款利息抵扣个人所得税。

      %p 此外，房主还可利用房产资产来为大学学费之类的大笔开销贷款，利息要比其他融资选择低，尽管这可能会让房主背负他们无法轻松偿还的债务。

      %p 房主还无需担心房租上涨。随着年龄增大，他们还可享受到另一个好处。哥伦比亚大学(Columbia University)保罗米尔斯坦房地产研究中心(Paul Milstein Center for Real Estate)研究主任克里斯·迈耶(Chris Mayer)指出，如果房主在退休前後还清房贷，他们的住房成本可能会大幅降低。而此时正是他们需要多余现金用於旅行、医疗和其他事项的时候。

      %h4 租房理由

      %p 监於买房可能有种种好处，有时候房主在发现买房并不总是最明智的财务选择时颇感惊讶。

      %p 首先，每月租房的成本会低於买房，即便它们是同一社区同样大小和相同品质的房子。

      %p 有时候房主会惊讶地发现买房并不总是最明智的财务选择。

      %p 比如说，租房者不用缴纳房产税、房屋保险费并且在大多数情况下也无需支付维护费用。专家指出，房主每年支付的这些费用大约相当於房屋总价的3%。

      %p 租房者往往可更自由地搬往国内其他地方，这一点在就业市场疲软之时很重要。如果有合适的机会出现，他们也许能更自由地在另一个城市找工作，而不必等着把房子卖掉。

      %p 如果房主需在经济低迷时期卖房，就算房价未必像金融危机期间那样严重下跌，房主也会亏损一大笔钱。房价温和下跌是常见现象。

      %p 不过，买房还是租房要依据自己的情况做出决定。

      %h5 1 个人情况

      %p 租房：租房通常都适用於那些不打算在某地居住两年以上的人。

      %p 买房：拥有一幢住宅几年以上的时间，拥有者可以通过还款和市场增值构筑更多住宅净值。较长时间拥有住宅，可以分散各种一次性买进开支。

      %h5 2 财务状况

      %p 租房：没有多少积蓄的人或许无法承受首付款及其他住宅购置相关开支，比如地产税、房屋维护税等。

      %p 买房：需要良好的财务状况，有稳定的收入来源。维持房屋并不只是支付首付，还需要偿还每个月的贷款，每年都需要交地产税，另外还有房屋的维护等费用。

      %h5 3 投资潜力

      %p 租房：租房在投资面上并没有什麽直接的好处。不过，租住者的确可以将那些他们原本可以用来购买住宅的资金投入其他投资领域，获得可能超过房地产市场的投资回报。只是，这样的做法同时也很可能意味着更大的风险。

      %p 买房：伴随时间演进，住宅拥有者可以构筑住宅净值。净值来自首付款、抵押本金偿付和市场增值部分。历史角度看来，房地产市场的回报较为稳定。当然，在房价下跌的时候，账面上会出现亏损。也可能房子的价值甚至低於贷款额。

      %h5 4 现金流动

      %p 租房：现金流数量有限的人们或许应该选择租房。租房虽然要求每月支付租金，但是除此之外，租住者对於房产就几乎再无其他财务面的义务。

      %p 买房：住宅拥有者必须获得足够现金流，以确保能够偿付每月的抵押还款额度，以及房产税和屋主保险等。整体而言，一位住宅拥有者住宅相关开支不应该超过收入的28%以上。住宅拥有者还应该准备每年支出大约相当於住宅价值1%左右的维护保养开支。

      %h5 5 税务优惠

      %p 租房：租房是享受不到什麽税务优惠的。

      %p 买房：已婚住宅拥有者或者单身住宅拥有者可以享受最高100万美元的抵押利息扣除，已婚而夫妇独立报税者，每人可以享受最高50万美元的额度。列举扣除者同样可以将房产税从应税所得中扣除。

      %h5 6 享受

      %p 租房：可以多出不少时间和现金到外面去吃喝玩乐。但回家後有时候感受不到家的感觉。因为不知道什麽时候会搬，所以不会花钱去买贵重的居家用品，也就享受不到使用这些用品时的快乐。

      %p 买房：要花不少时间和钱去打扮这个家。但有一种成就感和安定感。

      %h5 7 风险评估

      %p 租房：没有风险，当房价下跌的时候，没有物业的拖累可以任意换房子住。

      %p 买房：房子下跌，来不及出手或者不能做重新贷款，就会产生账面上的损失。如果被迫要买房套现，就会产生真正的损失。如果房屋周围环境变化，物业也不太可能搬迁。
      
      %p (本文摘自侨报网)
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    