.row
  .buyer-article-content
    .col-md-2
      =render "buyers/nav"
    .col-md-6
      %h3 房检
      =image_tag "articles/inspection.jpg", :class => "buyer-article-image"
      %p
        房屋检查通常分为四个部分：房屋结构检查；氡气检测；含铅检测；白蚁检测．
      %p
        多数房检师(Inspector)需要提前三到四天预约，房检大约需要三到四个小时时间．他们通常会从外到里，从上到下对房屋进行检查．
      %h4 房屋结构检查
      %p
        １　屋顶：从外部观测确定其寿命长短，告诉买家屋顶还能坚持多少年的时间．水槽是否完好，是否斜度不准，否则会导致积水积雪，而腐烂屋顶及其木制结构．检查屋顶是否有合理的通风．
      %p
        ２　地基：是否有裂缝，如超过半寸以上穿过地基的裂痕，修理费用会比较大．有一次带客人看房，由于车道旁边的地基下沉，造成整个房体向车道这一侧略微倾斜．客人问我这个有没办法修复，我说要把整个侧面墙顶起来，地基加固，调平，才能够使房屋侧墙牢固，不至于继续倾斜．这一工程下来，差不多要需要$20,000．
      %p ３　外部：外墙是否倾斜，烟囱（砖头和砖缝灰，Step flashing和Counter flashing），SIDING
      %p
        ４　屋内：天花板，窗户，墙面，地面，门框．如在天花板上，或在烟囱附近和空间窗户发现有水印，无论是否明显，可以初步确定曾经漏过水．如有阁楼，最好能上到阁楼去检查是否漏水或有虫害．
      %p ５　电：线路，主控板，电线插座
      %p ６　UTILITY：热水炉，暖气炉，如炉内发现水垢，则可确定已很长时间没有检修过了．
      %p ７　管道：下水管，水笼头，注意检查总进水管是否是铜制，如果不是，恐怕以后需要更换成铜管，就又会产生费用．
      %p ８　车库：升降门，自动开关，
      %p 
        地面，墙面和天花板检查完后，INSPECTOR会填写一份详细的检查报告，有的会附上照片．包括房子的状况，哪些设备可 能出问题，剩余寿命是多少，应该怎样维护等等。
      %p
      %h4 氡气检测：
      %p
        氡气属放射性气体，无色、无味、无嗅。氡气再经衰变，会形成一系列带幅射的微粒。当氡气或微粒被吸入肺部，部份会积聚并继续散发幅射，令吸入人士患肺癌的机会较高．氡气导致肺癌是美国除吸烟外导致肺癌外的第二大原因，也是非吸烟者染上肺癌的主要原因．
      %p
        氡气由土壤中存在的铀分裂产生，会通过地基的裂缝或地下室的排水泵进入室内．没有地下室的房子就不需要做氡气检查了．
      %p
        氡气检测最好选择电子检测，这样出结果会快一些．如氡气指数超标，可以请请专业执证人员来解决，大概需要$800到$2,500．
      %h4 含铅检测:
      %p
        1978年以前的房子，一般不需要检查是否含铅，因为这之前的油漆是肯定含铅的，不查也知道．除非卖方有已除铅的证明．铅进入人的血液，会影响神经系统，肾脏和造血机能。含铅油漆对六岁以下的小孩影响最大，因为他们可能会把带有铅尘的东西放进嘴里吃进肚子里。有许多卖家在房子上市时就会有文件说明，此房含铅或未作除铅处理，这样就不需要作含铅检测了．其实从1978年后至今，墙面已被粉刷多次，多数不会有铅尘掉下来．如果窗户也全是换的新窗户，就更好了．但是如果是购买投资房的买家应该注意，如果未作除铅处理，则不能出租给带６岁以下小孩的家庭．
      %h4 白蚁检测:
      %p
        有的房检员在做房屋结构检查时，如发现房子有白蚁的迹象，会建议你另外专门做白蚁检测的．不查不知道，有白蚁的房子还真不少．而且今年查了没有白蚁，并不能保证明年它们不会来．如果有这方面的担心，可在每年的春天, 请白蚁防治公司(Termite and Pest Control)来做年度检查， 费用在$35-$60之间。
      %p
        新建的房子头五年是不需要担心白蚁的问题的．因为建筑商在盖房子时, 会在房子地基四周的回填土(Back Fill)里掺入了化学药粉, 可阻止白蚁从房 子外面进入里面。这种药粉的有效期是五年, 所以建筑商通常提供五年的保证。
      %p
        本文摘自（http://blog.fang.com/40585117/16270400/articledetail.htm）
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"