.row
  .buyer-article-content
    .col-md-2
      =render "buyers/nav"
    .col-md-6
      %h3 如何在美国贷款买房
      %p
        很多人对于美国买房的关注点之一就是当地的贷款条件和流程是怎样的。绝大部分贷款置业者并不是因为拿不出这笔资金，而是对美国超低的贷款利率所吸引，希望能借助资本优势，最大化发挥投资优势。例如2014年，美国30年期的房贷基准利率为3%左右，而中国国内目前30年期房贷基准利率为6%左右。一般来讲，美国房贷利率会根据申请人的综合情况进行浮动，外国人在美国申请房贷利率会有所上浮，但比较国内的利率仍然低出不少。
      %p
        那么，在美国贷款购房的流程是怎样的？需要做什么准备工作，如何才能顺利获得贷款呢？看完本文，您应该就能比较了解了。
      %p
        首先了解一下在美国申请房贷的流程，过程与国内的房贷申请流程有相似之处，大致分为选择贷款机构——获取贷款机构预先资格——贷款机构审核申请人资质——房产评估——贷款机构放贷。具体分为以下7步：
      %ol
        %li
          选择能为您提供贷款的放贷机构
        %li
          比较利率和期限后确定能为您提供最适于您承受力的放贷机构
        %li
          获得接受您的财务和身份证明资料的放贷机构的预先资格
        %li
          按放贷机构指示提供所有有关收入，身份和其它要求的信息进行审核
        %li
          抵押贷款公司进行房产评估以确定价值
        %li
          与抵押贷款职员成交贷款
        %li
          结算贷款成交一揽子费用机构
      %p
        照贷款申请的流程，我们来详细说明一下各个流程的具体操作方式：
      %p
        一、外国人在美申请房贷的注意事项　
      %p
        在美国，按揭贷款发放的核心原则是抵押品价值足够，申请人有良好的信誉和持续的收入来源，与申请人的身份国籍本身没有直接关联性。目前，在美国绝大对数州，外国人（无美国绿卡）可以通过贷款购买美国房产，但是首付通常要在40-50%，并且因为本身没有美国信用记录和收入来源证明，贷款机构会额外要求贷款人支付高于市场水平的1-2%的利息。如果您有在美国的工作签证或者已经开始申请绿卡，首付和利率水平就和美国居民没有什么大的差别了，基本上首付20%即可。
      %p
        二、美国房贷种类
      %p
        美国常见的贷款期限是30年，您也可以根据您自身偿还能力，也可以选择5年、7年、10年、15年、20年、40年。目前美国的平均贷款利率在4-5%左右，贷款主要有两种类型，浮动利率贷款和固定利率贷款。
      %p
        （1）浮动利率贷款（ARM）通常分为：3/1，5/1，7/1ARM，表示前3年、5年、7年利率固定，之后利率按Libor等指标进行浮动。例如，2011年11月16日，在加州洛杉矶购买30万美元的房屋，首付40%，申请5/1ARM贷款，前五年贷款利率为4。132%，从第六年起浮动。
      %p
        （2）固定利率贷款。常见固定利率贷款有15年或30年的，年利率固定。例如，2011年11月16日，在加州洛杉矶购买30万美元的房屋，首付40%，申请30年期固定贷款利率在4.799%-5.540%。
      %p
        短期（3-5年内）来看，浮动利率贷款来看贷款利率较固定利率低0。5-1%左右，但长远来看浮动利率贷款存在利率大幅提高的风险。因此，对于中短期投资者来说，浮动利率贷款是比较值得考虑的选择；而对于追求稳妥，长期风险承受能力较低的买家来说，固定利率更加合适。两种贷款类型均有其优势和劣势，买家可根据自己的资金状况进行。
      %p
        三、在美国申请房贷的条件
      %p
        银行放贷条件
      %p
        作为海外人士，在美国银行取得房贷的要求比较高，除非在该银行有相关的存款、投资或其它的活跃帐户往来，比如持有工作签证的人士有较长期的稳定金额的收支记录。作为永久居民，也就是绿卡持有人，也是需要在该银行建立相关的个人信用记录之后才能够申请得到买房贷款。不同银行的放贷政策与条件不一样。但只要符合要求，银行照样愿意放贷给综合资质较高的海外申请者包括中国人。
      %p
        四、如何接洽美国贷款机构
      %p
        （1）贷款经纪人
      %p
        美国超过一半的房屋贷款是通过贷款经纪人来完成的，贷款经纪人是撮合借方和贷方的中间人。贷款经纪人可以直接与买家协商费用，可以为您实现最低贷款利率和最少费用花费。所以对于不熟悉美国贷款购房事务的人，找个“靠谱”的贷款经纪人是个不错的选择。不过专业化的服务也会收取一定的费用，贷款经纪人通常会收取贷款额1%的费用。
      %p（2）商业银行

      %p 商业银行如花旗银行、美国银行等提供的贷款利率非常具有竞争性，如果您在这些商业拥有支票账户或存款账户，还可以享受到贷款优惠。

      %p（3）抵押贷款银行家
      %p
        抵押贷款银行家可代表一家或多家银行为您提供贷款，不过此类贷款服务仅限于这些银行的客户。对于大多数中国投资者，咨询在国内有分支机构的美国的商业银行是主要的贷款途径。
      %p
        如果您不是美国居民，在接洽美国抵押贷款放贷机构时，一定要和受过外国抵押贷款培训的职员商谈。当您和美国不同银行的抵押贷款职员接洽时，搞清楚适用于外国人的利率，资格要求和规定。要和多家放贷机构商谈以选定能为您提供您需要的贷款的最佳利率的银行。
      %p
        五、如何获取银行批贷预先合格
      %p
        一旦找到了最好的放贷机构，下步就是获得申请贷款的预先资格。这是在贷款程序开始之前，也就是在和他们首次接洽之后的第一步。经纪人会要求您提供您的个人信息，包括收入和债务。他们将按照其出贷标准（各家不同）决定您能承受的贷款额。
      %p
        预先合格审核有助于搞清您是否有资格贷款，以及您有资格贷多少。这个步骤同时也帮您了解放贷机构是否愿意给您提供贷款。
      %p
        关于您的抵押贷款要求，一定要对放贷机构诚实，包括您计划如何使用房产。如果您不诚实，即使贷款通过了，放贷机构会坚持当时就付全款，或者他们通过法拍屋收走房产。
      %p
        银行一般会考虑以下七个主要因素，综合评定以决定是否给予申贷人“预先合格”(Pre-Approval)资格：
      %p
        （1）是否有稳定的收入来源(比如有份工作)；
      %p
        （2）过去两三年是否有份稳定的工作；
      %p
        （3）目前的收入是否可靠；
      %p
        （4）付款记录是否良好；
      %p
        （5）长期借债是否不多，比如贷款买车；
      %p
        （6）是否有一笔存款用于首期款的支付；
      %p
        （7）是否有能力每个月支付月供款以及所增加的成本。
      %p
        六、如何协助银行完成贷款资格审核
      %p
        一旦抵押贷款职员认可您的资格，下一步是审核。放贷机构需要审核：
      %p
        （1）收入证明：雇主信或者公司营业执照
      %p
        （2）存款证明：最近一个月银行月结单，需要看到头款部份
      %p
        （3）身份证明：（对于非美国居民）有效的入境签证与护照
      %p
        （4）房屋购买合同
      %p
        （5）房贷申请书
      %p
        （6）资产证明：您的资产总额
      %p
        （7）信用记录：您的信誉记录（或您本国的等同物）
      %p
        只要他们通过这个程序，认为您有资格申请贷款，接下来贷款机构便会展开以下工作
      %p
        审查您想要购买的房
      %p
        审查房产产权状况
      %p
        如果一切顺利便可以批贷了。从接洽放贷机构到银行预审，再到资格审核直至最后放贷，每一个环节都需要非常仔细认真，但真正操作起来其实未必十分复杂，只要按照银行的要求提供充分、有效、真实的资料，在美国贷款买房也并不是一件非常难的事情。
      %p (本文摘自搜房网，http://http://us.fang.com/zt/201305/The_US_Real_Estate_Encyclopedia_13.html)
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
    