.row
  .buyer-article-content
    .col-md-2
      =render "buyers/nav"
    .col-md-6
      %h3 出Offer
      =image_tag "articles/offer-letter.jpg", :class => "buyer-article-image"
      %p
        看房选房之后，就到了最激动人心的时刻了：出Offer。
      %h4 Offer letter中的主要内容
      %p
        买方出Offer的时候主要是表达自己想要买房的意愿，具体表现为出价、贷款与否、首付比例、交接日期、是否要求房检、在贷款出现问题时是否可以取消交易，以及一张1000美元的支票作为意向金。
      %p
        一般来说买房人无法预测自己是否能顺利通过贷款审核，贷款总额也会受到房子的评估价的影响，所以买房人可以要求在贷款失败的情况下取消交易。如果贷款出现导致交易取消，卖房人需要重新将房子上市，就可能错过好的卖房时机，所以卖房人会倾向于不做贷款的买方或者不要求取消交易的买方。
      %p
        如果房检发现房子的问题，买房人可以根据房检报告要求卖方维修或者减价，所以卖房人也会倾向于选择不要求房检的买方。
      %p
        如果卖方接受了Offer，那个1000美元的意向金就会被卖方代理取走放入一个托管账号（escrow account）中，最终算在房款中。
      %h4 如何确定Offer的价格
      %p
        很多时候房子的售价并不代表最终成交价。有的房子在卖的时候售价比市场价偏高，可能是因为房主对自己的房子和市场行情比较有信心，或者不急于出手，此时买房人就需要适当压价出Offer。有时房主为了吸引更多的买方来看房和出价给出一个低于市场行情的价格，这是买方就需要根据竞价人的数目和估算别人的出价来相应加价出Offer。无论是加价还是压价，都最好在和您的买方代理咨询之后再作出决定。买方代理无论对市场行情还是对估算竞价人的出价都有更多的经验和信息，往往能给出更为合理的建议。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
