.row
  .buyer-article-content
    .col-md-2
      =render "buyers/nav"
    .col-md-6
      %h3 现场看房
      =image_tag "articles/openhouse_full.jpg", :class => "buyer-article-image"
      %p 在美国，一般人卖房的时候都会打开房门邀请潜在买家来看房，这一过程称作Open House。看房的时间集中在周六和周日的中午下午，到了这一时间，房东把家里打扫得干干净净，家里的一切都井然有序，然后全家外出“回避”。也就在这个时候，房东所委托的房屋经纪人“进驻”这一打算出售的房子，在门口挂起了一块售屋牌子。售屋牌子上往往印着经纪人的照片，还写着经纪人电话号码。另外，牌子上还写着看房时间，并提供关于这座房子的介绍资料。资料上往往印着房屋的外貌以及各厅、室的照片，房屋平面图，房屋建造历史以及价格。在规定的看房时间里，房门通常开着。购房者自己开车前来。谁要看房都可以进去。这时，房屋卖方经纪人充当临时主人，在房子里笑迎客人，给每一位看房者递上一张名片，并不厌其烦地逐一回答看房者的问题。
      %p 买房人通过在网上初步筛选房源之后，就可以去Open House现场看房。一般来说这是买房人决定是否要买以及愿意出价多少的最关键的一步，所以在看房过程中最好有所准备，有所侧重。
      %p
        首先，买房人最好能约上代理一起去看房，因为买房代理见多识广，可以当场解答问题或者询问卖方代理。如果买方代理没有时间的话，买房人在决定出价之前也最好要求代理去现场看房，从而给出专业的意见。
      %p
        其次要看房子的地理位置和周围环境，因为这是无法通过修修补补而改变的。例如离高速公路和主要公路的距离，离高速公路四英里之内比较好，再远就要多走小路，交通灯多，费时费油，离高速公路也不能太近，太近会听到车流的声音。在东北部地区看房还要注意冬天是否容易开出来，如果门口有大坡的话可能一下雪就出不了门了。再如房子的后院是否开阔，背向树林或空地当然比背对别人的后院要好。如果是独立屋，旁边最好是独立屋。如果是连栋屋，旁边最好不是公寓。房子旁边是否有坟场或殡仪馆，美国人对这些不再乎，有些中国客户比较忌讳。
      %p
        然后就需要看房子的结构和布局。例如屋顶，因为美国的房子大都是木结构的，有些老一点的房子久经风吹雨打，木屋顶容易腐烂、漏水，而用长方形瓦片的屋顶就好得多，一般在50年内不会出问题。也要注意门窗的缝隙，倘若不严实，一下雨，整个木墙渗水，就会很麻烦。就连下水道也要特别留意，下水道堵塞和渗漏会带来很多麻烦。在美国人工昂贵，房子修一下要花很多钱，所以买房子时一定要注意种种“细节”。
      %p
        看房时，可用一张看房比较表（看房比较表列出了26各个可供参考的项目）来记录并比较不同房子的优缺点。比如每个房间的大小，布局是否合理，状况如何，等等。
      %ul
        %li 地址(Address)   
        %li 要价(Listing Price)   
        %li 政府估税价(Tax Assessment)   
        %li 几个卧室 (# Bedrooms)   
        %li 几个浴室 (# Bathrooms)   
        %li 几个车库 (# Garage)   
        %li 居住面积 (Living Area)   
        %li 占地面积 (Lot Size)   
        %li 建筑年代 (Built Year)   
        %li 客厅 (Living Room)   
        %li 起居室 (Family Room)   
        %li 餐厅 (Dining Room)   
        %li 厨房 (Kitchen)   
        %li 书房 (Library)   
        %li 主卧室 (Master Bedroom)   
        %li 其它卧室 (Other Bedrooms)  
        %li 衣橱 (Closet)   
        %li 储藏室 (Storage)   
        %li 地下室 (Basement)   
        %li 阳台 (Deck)   
        %li 前庭 (Drive Way, Side Walk) 
        %li 后院 (Backyard)   
        %li 状况 (Condition)   
        %li 学区质量 (School Quality) 
        %li 上班开车时间 (Commute Time)  
        %li 购物方便 (Shopping)   
        %li 总评 (Overall Opinion)
      %p
        由于一般Open House都安排在同一时间段，最好在出发之前就规划好路线，以免没有足够的时间看房。
    .col-md-4
      .bordered.ads-block
        =image_tag "ads/nancy.png", :class => "ads-block-inner"
