.jumbotron {
  background-color: transparent;
}

.logo-img {
  padding-top: 20px;
  padding-left: 100px;
  float: left;
}

.register_button {
  margin-top: 8px;
  margin-left: 10px;
}

.signed_in_user {
  margin-top: 12px;
  margin-left: 10px;
}

.search-box {
  padding-top: 20px;
  padding-left: 30px;
  float: left;
}

.search-text {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  float: left;
  font-weight: bold;
}

.search-input {
  padding-top: 10px;
  padding-left: 20px;
  float: left;
}

.search-button {
  padding-top: 5px;
  padding-left: 40px;
  float: left;
}

.campaign {
  padding-top: 50px;
  padding-bottom: 50px;
}

#home_list {
  padding-top: 60px;
}

.home-row {
  margin-top: 5px;
}
.home-addr {
  font-size: 16px;
  font-weight: bold;
}

.home-price {
  float: right;
  font-size: 18px;
  color: blueviolet;
}

.home-thumb {
  height: 200px;
  width: 256px;
}

.home_details_container {
  padding-top: 20px;
}

.details_more {
  padding-top: 20px;
}

#home_detail_carousel {
  width: 480px;
}

.details_basic {
  padding-top: 10px;
}

.tab-pane {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* Signin page */
@media (min-width: 768px) {
  .signin_page {
    max-width: 730px;
    margin: 0 auto;
    padding-top: 20px;
  }
}

.signin_page .jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #e6e6e6;
}

.signin_page .jumbotron .btn {
  padding: 4px 10px;
  font-size: 14px;
}

.signin_page .jumbotron .signin_form {
  text-align: left;
}

.signin_form_row {
  padding-top: 10px;
}

/* Admin pages */
.admin-articles .row{
  padding-top: 10px;
}

.edit-article .row {
  padding-top: 10px;
}

.edit-article .row #content {
  min-height: 100px;
}

.edit-article input[type="text"] {
  width: 600px;
}

.create-article input.short-field {
  width: 200px;
}

.create-article input[type="text"] {
  width: 600px;
}

.create-article textarea {
  width: 600px;
  height: 135px;
}

.create-article .row {
  padding-top: 10px;
}

.merchant-thumbnail {
  height: 50px;
}

.merchant-small {
  height: 100px;
}

.merchant-image-narrow {
  width: 150px;
}
.edit-merchant .row {
  padding-top: 10px;
}

.edit-merchant .input-field {
  height: 20px;
}

.edit-merchant .multi-line-input {
  min-height: 80px;
}

.show-article .row {
  min-height: 30px;
}

.merchant-list .row {
  padding-top: 10px;
}

/* Questions style */
.create-question .row {
  padding-top: 10px;
}

.create-question input[type="text"] {
  width: 80%;
}

.create-question textarea {
  width: 80%;
  height: 200px;
}

.btn-ask-question {
  width: 100%;
}

.answer-question-form .row {
  padding-top: 10px;
}

.answer-question-form .align-right {
  float: right;
}

.create-propertyreview .panel .row {
  padding-top: 10px;
}

/* Property Review */
.review-list-thumb {
  height: 100px;
  width: 100px;
}

.review-content {
  color: orange;
}

.review-ts {
  color: orange;
}

/* New style of home page, 11/27/14 */
.home-page-row {
  padding-top: 20px;
}

.index-spacer-ads {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.index-spacer-slogan {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif,STKaiti,KaiTi;
  color: #428bca;
  text-align: center;
}

.town-pic:hover {
    opacity: 0.85
}

.index_town_pic {
  width: 90%;
  height: 200px;
  padding-top: 10px;
}

.town-name {
  position: absolute; 
  left: 0; 
  top: 50%;
  width: 90%;
  z-index: 100;
  color: white;
  font-size: 18pt;
  text-align: center;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif,STKaiti,KaiTi;
}

.hot-town-title {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif,STKaiti,KaiTi;
}

.hot-town-name {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif,STXihei,"Microsoft YaHei";
}

.hot-house-name {
  position: absolute; 
  left: 10%; 
  top: 60%;
  width: 70%;
  z-index: 100;
  color: white;
  font-size: 14pt;
  text-align: center;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif,STKaiti,KaiTi;
}

.panel-info-long {
  min-height: 260px;
}

.crsl-nav a {
  text-decoration:none;
  cursor: pointer;
}

#nav-towns {
  padding-top: 5px;
}