/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 */

html {
  font-family: sans-serif;
}

.l-main {
  overflow: hidden;
}

.l-header, .l-main{
  width: 870px;
  margin: 0 auto;
}

.block-title {
  text-align: center;
  background-color: #eee;
  padding: 2px 5px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.m-nav-blocks li {
  list-style-type: none;
}

.m-nav-blocks li a {
  padding: 0 0 1px 0;
  border-bottom: 1px solid #eaeaea;
  color: rgb(0, 0, 238);
}

.sub-title {
  float: left;
}

.sign-in {
  float: right;
}
