.container
  .row
    .col-md-4
      %a{href: admin_articles_path, class: "btn btn-primary"} 管理文章
    .col-md-4
      %a{href: admin_merchants_path, class: "btn btn-primary"} 管理商家
    .col-md-4
      %a{href: '#', class: "btn btn-primary"} 管理问答（未完成）