.l-content
  .m-nav-blocks
    .container
      .row
        .col-md-4
          %a{href: admin_articles_path} 管理文章
        .col-md-4
          %p 管理标签
          %ul
            %li
              %a{href: admin_tags_path(v: 1)} 
                维护房产
            %li
              %a{href: admin_tags_path(v: 2)} 
                买卖房产
