.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: "/"} 首页
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
            买房相关
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/Condo"} 开放日 (Open House)
              %a{href: "/Belmont"} 搜索房产
              %a{href: "/Lexington"} 贷款
        %li
          %a{href: "#"} 卖房相关
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
            房产形式分类 
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/Condo"} 公寓 (Condo)
              %a{href: "/Belmont"} 多家庭 (Multi-family)
              %a{href: "/Lexington"} 独立房 (Single-family)
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
            城镇分类 
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/Arlington"} Arlington
              %a{href: "/Belmont"} Belmont
              %a{href: "/Lexington"} Lexington
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"} 
            黄页 
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "/Arlington"} 房产代理
              %a{href: "/Belmont"} 贷款机构
              %a{href: "/Lexington"} 房屋维修保养
              %a{href: "/Lexington"} 其他
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            %p.signed_in_user
              = current_user.nickname
              - if current_user.admin?
                %a{href: admin_dashboard_path} (管理员界面)
          %li
            %p.signed_in_user= link_to "退出", destroy_user_session_path, :method => :delete
        - else
          %li
            = form_tag(user_session_path, :method => :post, :class => "navbar-right navbar-form") do
              %input{id: "email", name: "user[email]", type: "text", placeholder: "邮箱", class: "form-control"}
              %input{id: "password", name: "user[password]", type: "password", placeholder: "密码", class: "form-control"}
              %hidden{name: "commit", value: "Sign in"}
              %button{type: "submit", class: "btn btn-primary"} 登陆
          %li
            %p.register_button= link_to "注册新帐号", new_user_registration_path, :class => "btn btn-primary"