.jumbotron
  .logo-img
    =image_tag "logo.png"
  %form{ :action => "/landing/search", :method => "post"}
    .search-box
      .search-text
        最低价格
      .search-input
        %select#min_price{:name => "min_price"}
          %option{:value => 0} 不限
          - (1..10).each do |price|
            %option{:value => price*10 } #{price*10}万
      .search-text
        最高价格
      .search-input
        %select#max_price{:name => "max_price"}
          %option{:value => 10000000000} 不限
          - (5..20).each do |price|
            %option{:value => price*10 } #{price*10}万
      .search-text
        卧室
      .search-input
        %select#bedroom_count{:name => "bedroom_count"}
          %option{:value => 0} 无所谓
          - (1..5).each do |brooms|
            %option{:value => brooms } 至少#{brooms}间
      .search-text
        卫生间
      .search-input
        %select#restroom_count{:name => "restroom_count"}
          %option{:value => 0} 无所谓
          - [1, 1.5, 2, 2.5, 3].each do |rrooms|
            %option{:value => rrooms } 至少#{rrooms}间
        城镇
      .search-input
        %select#town{:name => "town"}
          %option{:value=> ""} --
          %option{:value=> "Belmont"} Belmont
          %option{:value=> "Lexington"} Lexington
      .search-button
        %button{type: "submit", class: "btn btn-warning"} 开始找房
